/* VARIABLES AND IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  /* Colors */
  --fg_color: #dfbf8e;
  --bg_color: #282828;
  --green: #A9B665;
  --red: #EA6962;
  --light_orange: #E3A84E;
  --dark_orange: #E78A4E;
  --blue: #7DAEA3;
  --pink: #D3869B;
  --black: #665C54;
  
  /* Font */
  --global_font: "Roboto Mono";
  --fw_regular: 400;
  --fw_bold: 700;
  
  /* Font sizes */
  --fs_title: 2em;
  --fs_subtitle: 1.5em;
  --fs_paragraph: 1em;
}

/* GLOBAL STYLES */
html,
body {
  height: 100%;
  width: 100%;
  
  margin: 0;
  padding: 0;

  font-family: var(--global_font), monospace;
  font-weight: var(--fw_regular);
  font-size: var(--fs_paragraph);
  color:#dfbf8e;

  display: flex;
  justify-content: center;

  background-color: var(--bg_color);
}

h1 {
  color: var(--green);
  font-weight: var(--fw_bold);
  text-align: center;
  font-size: var(--fs_title);
}

h2 {
  color: var(--pink);
  font-weight: var(--fw_bold);
  text-align: left;
  font-size: var(--fs_subtitle);
}

a, a:active, a:visited {
  color: var(--blue);
  text-decoration: none;
}

a{
  transition: all ease-in-out 0.1s;
}

a:hover {
  filter: brightness(1.2);
}

p{
  text-align: justify;
  align-self: flex-start;
}

/* REUSABLE CLASSES */

/* WEBSITE BODY */
#main-wrapper {
  width: 40%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 1366px){
  #main-wrapper {
    width: 50%;
  }
}
