/* VARIABLES AND IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  /* Colors */
  --fg_color: #dfbf8e;
  --bg_color: #282828;
  --green: #a9b665;
  --red: #ea6962;
  --light_orange: #e3a84e;
  --dark_orange: #e78a4e;
  --blue: #7daea3;
  --pink: #d3869b;
  --black: #665c54;

  /* Font */
  --global_font: 'Roboto Mono';
  --fw_regular: 400;
  --fw_bold: 700;

  /* Font sizes */
  --fs_title: 2em;
  --fs_subtitle: 1.5em;
  --fs_paragraph: 1em;
  --fs_inputs: 1.3em;
}

/* GLOBAL STYLES */
html {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  min-width: 100%;

  margin: 0;
  padding: 0;

  font-family: var(--global_font), monospace;
  font-weight: var(--fw_regular);
  font-size: var(--fs_paragraph);
  color: #dfbf8e;

  display: flex;
  justify-content: center;

  background-color: var(--bg_color);

  box-sizing: border-box;
}

h1 {
  color: var(--green);
  font-weight: var(--fw_bold);
  text-align: center;
  font-size: var(--fs_title);

  margin-bottom: 45px;
}

h2 {
  color: var(--pink);
  font-weight: var(--fw_bold);
  text-align: left;
  font-size: var(--fs_subtitle);

  align-self: flex-start;

  margin-top: 30px;
}

a,
a:active,
a:visited {
  color: var(--blue);
  text-decoration: none;
}

a {
  transition: all ease-in-out 0.1s;
}

a:hover {
  filter: brightness(1.2);
}

p {
  text-align: justify;
  align-self: flex-start;

  margin: 14px 0;
}

/* Remove input arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

label {
  font-size: var(--fs_inputs);
  font-style: italic;
}

button {
  color: var(--bg_color);
  font-size: var(--fs_inputs);
  text-transform: uppercase;

  border: none;
  border-radius: 14px;

  width: 25%;

  margin: 20px 0;

  cursor: pointer;

  transition: all ease-in-out 0.1s;
}

button:hover {
  filter: brightness(1.2);
}

/* REUSABLE CLASSES */
.chart {
  width: 100%;
  height: 60vh;
  max-height: 500px;

  margin: 5px 0 20px;

  background-color: var(--black);
}

.red-text {
  color: var(--red);
}

.simulate-button {
  background-color: var(--green);
}

.reset-button {
  background-color: var(--pink);
}

.formula {
  color: var(--light_orange);

  font-size: var(--fs_inputs);
  font-style: italic;

  margin: 15px 0;
}

/* WEBSITE BODY */
#main-wrapper {
  width: 40%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 25px 0 50px;
}

/* GRAPHS */
/* Inputs */
.walker-variables {
  font-family: var(--global_font);
  font-size: var(--fs_inputs);
  color: var(--fg_color);
  text-align: center;

  background-color: var(--black);

  border: none;
  border-radius: 14px;

  width: 50%;

  margin-left: 10px;
}

.input-wrapper {
  display: flex;
  justify-content: center;

  margin-top: 10px;

  width: 100%;
}

.input-group {
  width: 30%;
}

#radio-inputs {
  width: 50%;

  justify-content: space-around;
}

#radio-inputs input {
  opacity: 0;
  width: 0;
  height: 0;
}

#radio-inputs label {
  line-height: 1;
}

.radio-group label {
  display: flex;
  align-items: center;

  margin: 20px 0;
}

.radio-checker {
  display: inline-block;

  width: 1em;
  height: 1em;

  border-radius: 50%;

  background-color: var(--black);

  transform: translateY(0.1em);

  margin-left: 5px;

  cursor: pointer;

  flex-shrink: 0;
}

#radio-inputs input:checked + .radio-checker {
  background-color: var(--green);
}

/* Formulas */
#dynamic {
  margin-bottom: 0;
}

@media only screen and (max-width: 1366px) {
  #main-wrapper {
    width: 50%;
  }
}
